// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #7302e3;
$secondary : #1f2dad;
$accent    : #58147a;

$dark      : #1e0936;

$positive  : #449156;
$negative  : #b00e21;
$info      : #00aacc;
$warning   : #c45f00;
